
<div class="container">
    <div class="calculator">
        <form [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <label for="number1"></label>
                <input type="number" id="number1" formControlName="number1">
                <span *ngIf="!singUpForm.get('number1').valid && singUpForm.get('number1').touched ">*required</span>

                <label for="number2"></label>
                <input type="number" id="number2" formControlName="number2">
                <span *ngIf="!singUpForm.get('number2').valid && singUpForm.get('number2').touched ">*required</span>
            </div>
            <div class="row">
                <button  type="button" class="btn btn-primary" (click)="add()">+</button>
                <button  type="button" class="btn btn-primary" (click)="subtraction()">-</button>
                <button  type="button" class="btn btn-primary" (click)="multiply()"> *</button>
                <button  type="submit" class="btn btn-primary" (click)="devide()">/</button>
                <button  type="button" class="btn btn-danger" (click)="allClear()">AC</button>
            </div>
            <div class="row" *ngIf="result">
                <p>Result: {{result}}</p>
            </div>
        </form>       
    </div>
</div>
