input, button, p{
    margin: 20px auto;
    
}

input{
    border: 1px solid forestgreen;
    border-radius: 10px;
}

p{
    font-weight: bold;
}

.calculator{
    margin: 20px auto;
    height: 150px;
    background-color: rgb(245, 247, 245);
    width: 500px;
}