
<div class="container">
    <div class="calculator">
        <div class="row">
            <input type="number" [(ngModel)]="number1">
            <input type="number" [(ngModel)]="number2">
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="add()">+</button>
            <button class="btn btn-primary" (click)="subtraction()">-</button>
            <button class="btn btn-primary" (click)="multiply()"> *</button>
            <button class="btn btn-primary" (click)="devide()">/</button>
            <button class="btn btn-danger" (click)="allClear()">AC</button>
        </div>
        <div class="row" *ngIf="result">
            <p>Result: {{result}}</p>
        </div>   
    </div>
</div>
